<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Portal</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <h1>My Game Portal</h1>
        <p>Some of my favorite games to play.</p>
    </header>

    <main>
        <div class="column-card">
            <h2>Pal world</h2>
            <p> Pal world is an open-world survival game where you can explore,
                build bases, catch Pals, and fight bosses. </p>
        </div>

        <div class="column-card">
            <h2>Minecraft</h2>
            <p>
                Minecraft is a sandbox game where you can explore, gather
                resources, build structures, and survive.
            </p>
        </div>
    </main>

    <aside>
        <h2>What games should you play?</h2>
        <p>
            If you like survival games, both are great choices.
            <span class="tooltip"> PalWorld
                <span class="tooltiptext"> Great for catching pals and fighting bosses.</span>
            </span>
            is better if you want more combat and challenges.
        </p>
    </aside>

    <footer>
         © 2026 Leonardo Ortiz. All rights reserved.
        <a href="../../index.html">Back to Student Portal</a>
    </footer>

</body>

</html>